name: Publish images to Docker hub

on:
  push:
#    branches: main

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
#      - name: Login to DockerHub
#        uses: docker/login-action@v1
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          file: ./adminer-full/Dockerfile
#          push: true
          tags: dockette/adminer:full
          platforms: linux/amd64,linux/arm64
